<!DOCTYPE html>
<html>
    <head>
        <title>Node page</title>
        <% include partials/header.html %>
    </head>
    <body bgcolor="lightgrey">
        <h1>welcome to the world of node js</h1>
        <h3> <%= users.email %>
            <li><a href="/logout">LOGOUT</a></li>
            

        <href></href>
    </body>
</html>